#pageBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(0,255,226);
    background: linear-gradient(145deg, rgba(0,255,226,0.3253676470588235) 0%, rgba(255,0,245,0.24693627450980393) 100%);
  }